.header_a6d69a .input_f8bc55.textArea_a2b402 {
  --input-height: 36px !important;
  --input-padding: 0 12px !important;
  height: var(--input-height);
  margin: 0;
  line-height: calc(var(--input-height) - 2px);
}
